*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container__cards {
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    border-radius: 50PX;
    
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    
}

.card .cover img{
    position: relative;
    height: 450px;
    display: block;
    margin: auto;
    z-index: 1;
    top: 120px;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.15));
    transition: all 400ms;
}
.card:hover .cover img{
    top: 0px;
}


.card .img__back{
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    transition: all 300ms;
}


.card .img__back{
    background-image: url(./img/fondo-card.jpeg);
    border-radius: 30px;
}

.card:hover .img__back{
bottom: -40px;
}

.card .description{
    padding: 20px;
}

.card .description h2{
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #061A4D;
}

.card .description p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #061A4D;
    text-align: left;
}

  p .principal{
   color: rgba(0, 0, 0, .5);
  }
  
  .ReadMore_btn {
    background-color: #00b5e3;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 10px;
    font-size: 25px;
    box-shadow: 0px 0px 5px 0px #00b5e3;
    cursor: pointer;
    font-size: 15px;
  }
  
  .ReadMore_btn:hover {
    box-shadow: none;
    background-color: #0482a1;
    box-shadow: 0px 0px 5px 0px #0482a1;
    font-size: 15px;
  }
  
   
  .hideText {
    display: none;
    
  }
  
  .showText {
    display: block;
  }

.hide{
    display: none;

}

.show{
    display: block;

}


/* .card .description input{ 
    padding: 10px 40px; 
    margin-top: 20px;
    border: none;
    background: #00b5e3;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
} 

.card .description input:hover{
background-color:#FF8A00;
}*/

/* .extra{
    display: none;
}

p{ 
    display: inline;
}

input[type="checkbox"]{
height: 2em;
display: block;
appearance: none;
}

label{
    position: relative;
    padding: 10px;
    background-color: #00b5e3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

label::before{
    content: "Leer más";
}
input[type="checkbox"]:checked ~ label::before{
    content: "Leer más";
}

.dots:has(~ input[type="checkbox"]:checked){
    display: non;
}

.extra.dots:has(~ input[type="checkbox"]:checked){
    display: inline;
}*/
